{% extends 'base.html' %}

{% block title %}| {{ to_user.username }}{% endblock title %}

{% load humanize %}
{% block content %}
<div class="chat__page-wrapper">
  {% csrf_token %}

  {% include 'chat/_conversations.html' %}

  {% include 'chat/_chat.html' %}

  {{ conversation.pk|json_script:"conversation-id" }}
  {{ to_user.username|json_script:"to-user-username" }}
</div>
{% endblock content %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/chat.js' %}"></script>
{% endblock javascript %}
